html {
    background-color : #2a2a2e;
}
body {
    margin : 10px 50px 25px;
}
.divInput{
    border: 2px solid #b9b9b9;
    background-color : #1c1c24;
    padding: 15px 30px;
}
.stats_container{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    color: #00FF7F;
}
.input_container{
    display: flex;
    column-gap: 33%;
    padding-left: 10%;
}
#min-max-day-input{
    padding: 1% 18% 1% 10%;
}
.rangeDiv{
    padding: 1% 18% 1% 10%;
}
#input-date-group-1{
    color: black;
    width: 17.1%;
    font-size: 22px;
    padding-top: 10px;
}
#grouping-details{
    display: block;
    display: inline;
    font-size: 22px;
}
P {
    font-size: 35px;
}