html {
    background-color : #2a2a2e;
}
body {
    margin : 10px 50px 25px;
}
.divInput{
    border: 2px solid #b9b9b9;
    background-color : #1c1c24;
    padding: 15px 30px;
}
.stats_container{
    display: flex;
    column-gap: 50px;
    justify-content: center;
    color: #00FF7F;
}
.input_container{
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
P {
    font-size: 35px;
}